$modal_border: 1px solid #d9d9d9;

.uk-slider-nav {
  display: flex;
  justify-content: center;
  padding: 20px;

  li {
    &.uk-active {
      a {
        background-color: $primary_color;
      }
    }

    a {
      background-color: $secondary_color;
      width: 50px;
      border-radius: 5px;
      border-color: transparent;
    }
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
  padding: 20px;

  .owl-dot {
    background: $secondary_color !important;
    width: 50px;
    height: 10px;
    border-radius: 5px;
    border-color: transparent;
    margin-right: 10px;

    &.active {
      background-color: $primary_color !important;
    }
  }
}

.default-modal {
  .uk-modal-title {
    margin-bottom: 0;
    margin-top: -5px !important;
    padding-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: $txt_color;
  }

  .footer {
    padding: 0 100px;
  }
}

#open-running-order {
  &.uk-modal-full {
    background-color: white;
  }

  .uk-modal-title {
    border: 1px solid #d9d9d9;
    text-align: center;
    padding: 10px;
  }

  .holder {
    border: 1px solid #d9d9d9;
    border-top-color: transparent;
    border-radius: 0;
    padding: 15px;

    .search-box {
      label {
        width: 100%;
        display: block;
      }

      input {
        width: 100%;
        padding: 30px 20px;
        border: 1px solid #d9d9d9;
        font-size: 20px;

        &::placeholder {
          font-weight: bold;
          color: #b6b6b8;
        }
      }
    }

    .order-list-wrapper {
      // height: calc(100vh / 2) !important;
      margin-top: 10px;
    }

    .order_details_list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 15px;

      .single_order {
        background-color: #ffffff;
        cursor: pointer;
        border: 1px solid #d9d9d9;
        color: #333;
        user-select: none;

        &.active {
          background-color: $yellow;
        }

        .inside_single_order_container {
          padding: 15px;
          position: relative;

          p {
            margin: 0;
          }

          .running_order_right_arrow {
            position: absolute;
            top: 20px;
            right: 15px;
          }
        }
      }
    }

    .footer-btn {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 8px;
      margin-top: 15px;
      padding: 0;
    }
  }
}

#open-single-running-order {
  .content {
    .item-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      line-height: 40px;
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: #ccc;
      margin: 10px 0;
    }
  }
}

#open-app-language {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
  }
}

#finalize_order_modal {
  .content {
    .payment-amount {
      .label {
        display: flex;
        padding: 0 20px;
        background-color: $secondary_color;

        span {
          padding: 10px 0;
          font-size: 18px;

          &:first-child {
            flex: 1;
          }

          &:last-child {
            width: 150px;
            border-left: 1px solid rgb(204, 204, 204);
            padding-left: 10px;
          }
        }
      }

      .value {
        display: flex;
        padding: 0 20px;
        border-bottom: 1px solid rgb(204, 204, 204);

        &.selected {
          background-color: $yellow;
          border-color: $yellow;
        }

        span {
          padding: 10px 0;
          font-size: 18px;

          &:first-child {
            flex: 1;
          }

          &:last-child {
            width: 150px;
            padding-left: 10px;
          }
        }
      }
    }

    .finalize-btn {
      display: none;

      &.active {
        display: block;
      }
    }

    .footer-btn {
      button {
        height: 60px;
        padding: 10px 20px;
      }
    }
  }
}

#open-finalize-payment-type {
  .content {
    button {
      height: 65px;
      padding: 10px 20px;
    }
  }
}

#open-finalize-change-amount {
  .content {
    .payable-price {
      margin: 0;
      padding: 5px 0;
      text-align: center;
      background-color: #dde2eb;
      color: #5d5d5d;
      font-weight: 500;
      font-size: 25px;
      margin-bottom: 20px;

      p {
        margin: 0;
      }
    }

    .wrapper {
      p {
        margin: 0;
        font-size: bold;
        text-align: center;
      }

      input {
        height: 60px;
        font-weight: 600;
        color: $txt_color;
        text-align: center;
        width: 100%;
        font-size: 25px;
      }
    }
  }
}

#open-close-without-payment {
  .item-select-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px;
      border: 1px solid #ddd;
      margin-bottom: 10px;

      &:hover {
        label {
          color: #333;
        }
      }

      label {
        transition: color 0.3s;
        color: #858688;
        position: relative;
        padding-left: 40px;
        display: flex;
        align-items: center;

        & input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        &:hover input~.checkmark {
          background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        & input:checked~.checkmark {
          background-color: #a9cf46;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        & input:checked~.checkmark:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        & .checkmark:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
}
#open-void-item-reasons {
  .item-select-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px;
      border: 1px solid #ddd;
      margin-bottom: 10px;

      &:hover {
        label {
          color: #333;
        }
      }

      label {
        transition: color 0.3s;
        color: #858688;
        position: relative;
        padding-left: 40px;
        display: flex;
        align-items: center;

        & input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        &:hover input~.checkmark {
          background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        & input:checked~.checkmark {
          background-color: #a9cf46;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        & input:checked~.checkmark:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        & .checkmark:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
}

#open-transfer-table {
  .txt-header {
    background-color: #dde2eb;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 20px;
  }

  .transfer-table-btn-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
  }
}

#open-customer-list,
#open-waiter-list {
  .transfer-table-btn-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;
  }
}

#open-tax-modal {
  .content {
    padding: 20px;

    .tax-modal-table {
      border: 1px solid #ddd;
      height: 243px;
      overflow: auto;

      .thead {
        display: flex;

        div {
          padding: 10px 20px;
          background-color: $secondary_color;
          color: $txt_color;

          &:first-child {
            flex: 1;
          }

          &:last-child {
            width: 150px;
            border-left: 1px solid rgb(180, 180, 180);
          }
        }
      }

      .tbody {
        .row {
          display: flex;

          div {
            padding: 10px 20px;
            color: $txt_color;

            &:first-child {
              flex: 1;
            }

            &:last-child {
              width: 150px;
              border-left: 1px solid rgb(219, 219, 219);
            }
          }
        }
      }

      .tbody {
        .row {
          .active {
            background-color: $yellow;
          }
        }
      }
    }
  }
}

#open-kitchen-notification {
  .uk-modal-dialog {
    width: 700px;
  }

  header {
    background: #dde2eb;
    height: 40px;
    width: 100%;
  }

  .content {
    label {
      transition: color 0.3s;
      color: #858688;
      position: relative;
      padding-left: 40px;
      display: flex;
      align-items: center;

      & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 35px;
        width: 35px;
        background-color: #eee;
      }

      /* On mouse-over, add a grey background color */
      &:hover input~.checkmark {
        background-color: #ccc;
      }

      /* When the checkbox is checked, add a blue background */
      & input:checked~.checkmark {
        background-color: #a9cf46;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the checkmark when checked */
      & input:checked~.checkmark:after {
        display: block;
      }

      /* Style the checkmark/indicator */
      & .checkmark:after {
        left: 12px;
        top: 7px;
        width: 8px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    #notification_list_holder {
      position: relative;
      height: 400px;

      .single_row_notification {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #d9d9d9;

        &.selected {
          background-color: $yellow;

          .single_notification {
            color: #333;
          }
        }

        .single_notification_check_box {
          width: 50px;
          height: 35px;
          position: relative;
        }

        .single_notification {
          flex: 1;
          color: #858688;
          line-height: 25px;
          font-size: 15px;
          padding-right: 40px;
        }

        .single_serve_button {
          button {
            @extend .secondary-btn;
          }
        }
      }
    }
  }
}

#open-tables-modal {
  .tables-wrapper {
    padding: 15px;
    display: flex;

    .table-category-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: block;

      li {
        margin-bottom: 10px;

        a {
          @extend .secondary-btn;
          text-align: center;
        }
      }
    }

    .all-dineIn-table {
      margin-left: 10px;
      flex: 1;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 10px;

      .single_order_table {
        button {
          padding: 22.5px 20px;
        }
      }
    }
  }
}

#open-tables-modal {
  .footer-btn {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }
}

#open-modifiers-notes-modal {
  .label {
    background-color: $secondary_color;
    text-align: center;
    padding: 5px;
  }

  .modifier {
    .content {
      border: 1px solid #ddd;

      .item-name {
        border-bottom: 1px solid #ddd;
        text-align: center;
        color: $txt_color;
        padding: 10px;
        font-size: 25px;
      }

      .quantity-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

        .txt {
          font-size: 20px;
          color: $txt_color;
        }

        .price {
          font-size: 25px;
          color: $txt_color;
        }

        .quantity-box {
          display: flex;
          margin: 0 10px;

          button {
            height: 70px;
            width: 70px;
            padding: 10px;

            i {
              font-size: 40px;
            }
          }

          input {
            width: 60px;
            padding: 5px;
            font-size: 20px;
            margin: 0 5px;
            font-weight: 600;
            color: $txt_color;
            text-align: center;
            outline: none;
          }
        }
      }

      .dis-btn {
        padding: 21px;
      }
    }
  }

  .notes-content {
    .content {
      border: 1px solid #ddd;
    }
  }
}

.alert-modal {
  .content {
    padding: 0 40px;
    text-align: center;

    h3 {
      font-size: 3rem;
      margin: 0;
      color: $txt_color;
    }

    .append-html {
      margin: 10px 0 20px 0;
    }
  }
}

#open-table-marge {
  .merge-table-content {
    position: relative;
    height: 400px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        font-size: 22px;
        color: $txt_color;

        &:last-child {
          border-bottom-color: transparent;
        }
      }
    }
  }
}

#open-register-modal {
  .uk-modal-dialog {
    width: 750px;
  }

  .content {
    p {
      color: $txt_color;
    }

    .balance-content {
      background-color: $secondary_color;
      padding: 15px;
      font-weight: bold;
      line-height: 25px;
    }
  }
}

#open-recent-sale-modal,
#open-future-sale-modal,
#open-draft-sale-modal {
  .main-title {
    padding: 10px;
    font-size: 1.7em;
    color: $txt_color;
    text-align: center;
    border: 1px solid #ddd;
  }

  .content {
    border: 1px solid #ddd;
    border-top-color: transparent;

    .left-content {
      label {
        position: relative;
        display: block;

        input {
          height: 45px;
        }

        button {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          border: none;
          outline: none;
          background-color: transparent;
          font-size: 20px;
          color: #aaa;
          padding: 0;
          cursor: pointer;
        }
      }

      .hold_list_holder {
        margin-top: 10px;
        border: 1px solid #ddd;

        .header_row {
          border-bottom: 1px solid #ddd;
          display: flex;

          &>div {
            padding: 10px;
            font-weight: 600;

            &:nth-child(1) {
              width: 30%;
            }

            &:nth-child(2) {
              width: 50%;
            }

            &:nth-child(3) {
              width: 20%;
            }
          }
        }

        .detail_holder {
          height: 500px;
          overflow: auto;

          &>div {
            border-bottom: 1px solid #ddd;
            display: flex;
            transition: background-color 0.3s;
            background-color: #fff;

            &:hover {
              background-color: #f7f7f7 !important;
            }

            &>div {
              padding: 10px;
              font-size: 14px;

              &:nth-child(1) {
                width: 30%;
              }

              &:nth-child(2) {
                width: 50%;
              }

              &:nth-child(3) {
                width: 20%;
              }
            }
          }
        }
      }
    }

    .right-content {
      .inner-content {
        .upper-content {
          border: 1px solid #ddd;
          border-bottom-color: transparent;
        }

        .title {
          font-size: 22px;
          text-align: center;
          margin: 0;
          padding: 12px;
          color: $txt_color;
          border-bottom: 1px solid #ddd;
        }

        .item_modifier_details {
          border: 1px solid #ddd;
          border-top-color: transparent;
        }

        .item_modifier_details {
          .modifier_item_header {
            display: flex;
            border-bottom: 1px solid #ddd;
            padding-bottom: 5px;

            &>div {
              width: 15%;
              font-size: 14px;
              font-weight: bold;

              &:nth-child(1) {
                width: 40%;
              }
            }
          }
        }

        .bottom_total_calculation_hold {
          color: $txt_color;
        }

        .modifier_item_details_holder {
          width: 100%;
          height: 150px;
          overflow: auto;

          .single_item_modifier {
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }

            .first_portion {
              display: flex;
              width: 100%;

              .first_column {
                width: 40% !important;
              }

              .column {
                width: 15%;
                font-size: 14px;
              }
            }
          }
        }

        .modal_payable {
          font-size: 25px;
          text-align: center;
          background-color: $secondary_color;
          margin: 10px 0;
          padding: 10px;
        }
      }
    }
  }
}

#open-draft-sale-modal {

  .content .left-content .hold_list_holder .detail_holder,
  #open-future-sale-modal .content .left-content .hold_list_holder .detail_holder,
  #open-draft-sale-modal .content .left-content .hold_list_holder .detail_holder {
    height: 423px;
  }
}

#open-kitchen-status-modal {
  .upper-part {
    p {
      color: $txt_color;
      font-size: 16px;
    }
  }

  #kitchen_status_detail_header {
    padding: 0 20px;
    border: 1px solid #ddd;
    border-left-color: transparent;
    border-right-color: transparent;
    display: flex;

    &>div {
      width: 30%;
      color: #888;
      padding: 10px 0;
      font-size: 15px;
      font-weight: bold;

      &:first-child {
        width: 40%;
      }
    }
  }

  #kitchen_status_item_details {
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    display: flex;

    &>div {
      border-bottom: 1px solid #ddd;
      width: 30%;
      color: #888;
      padding: 10px 0;
      font-size: 15px;
      font-weight: bold;

      &:first-child {
        width: 40%;
      }
    }
  }

  #kitchen_status_order_placed,
  #kitchen_status_time_count {
    font-size: 16px;
    color: #888;
  }
}


#open-help-modal {
  .help_modal_info_holder {
    .para_type_1 {
      margin-top: 10px;
    }

    .para_type_2 {
      margin-top: 10px;
      margin-left: 30px;
      line-height: 25px;
    }
  }
}

#open-order-details {
  .uk-modal-dialog {
    width: 800px;
  }

  .order_detail_modal_info_holder {
    .order_type {
      display: flex;
      justify-content: center;

      .item:first-child {
        margin-right: 20px;
      }

      .label {
        color: #858688;
        font-weight: bold;
        font-size: 20px;
      }

      .name {
        font-size: 20px;
        color: #858688;
      }
    }

    .inner-item-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      .label {
        color: #727272;
        font-size: 20px;
        font-weight: bold;
      }

      .name {
        font-size: 20px;
        color: #979797;
      }
    }

    .modifier-item-wrapper-container {
      border: 1px solid #dfdfdf;
      margin-top: 10px;

      .modifier_item_header {
        display: flex;
        background-color: #DDE2EB;
        padding: 10px;

        .column_hold {
          width: 12.5%;
          text-align: center;
          font-weight: bold;
        }

        .first_column_header {
          width: 50%;
          text-align: left;
        }

      }

      .single_item_modifier {
        .first_portion {
          display: flex;
          padding: 10px;

          .column {
            width: 12.5%;
            text-align: center;
            font-size: 15px;
          }

          .first_column {
            width: 50%;
            text-align: left;
          }
        }
      }
    }

    .bottom_total_calculation_hold {
      margin-top: 15px;

      .item {
        margin-bottom: 10px;

        div {
          font-size: 18px;
          color: #858688;

          &:nth-child(1) {
            flex-basis: 45%;
          }

          &:nth-child(2) {
            flex-basis: 20%;
          }

          &:nth-child(3) {
            text-align: right;
            flex-basis: 35%;

          }
        }
      }
    }

    .modal_payable {
      text-align: center;
      background-color: #DDE2EB;
      color: #5F6062;
      font-size: 2rem;
      padding: 5px;
      margin: 15px 0 0;
    }
  }
}


#open-split-bill-modal {
  .wrapper-content {
    border: $modal_border;

    .title {
      border-bottom: $modal_border;
      text-align: center;
      padding: 10px;
      font-size: 2rem;
      margin-bottom: 10px;
    }

    .order-payment-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding: 0 10px 10px;

      .left-item {
        .table-title {
          border-bottom: $modal_border;
          text-align: center;
          padding: 10px;
          margin: 0;
        }

        .table-overflow-wrapper{          
          max-height: 200px;
          overflow: auto;
        }
        .split_modal_tbl {
          width: 100%;
          border-collapse: collapse;
          th,
          td {
            border-bottom: $modal_border;
            white-space: nowrap;
          }

          td {
            padding: 7px 10px;
            text-align: center;

            &:first-child {
              text-align: left;
            }

            i {
              width: 30px;
              height: 30px;
              background-color: $secondary_color;
              line-height: 30px;
              border-bottom: 3px solid darken($secondary_color, 12);
            }
          }

          thead {
            th {
              padding: 10px;

              &:first-child {
                text-align: left;
              }
            }
          }
        }

        .footer-table {
          width: 100%;
          border-collapse: collapse;

          th {
            padding: 10px;
            border-bottom: $modal_border;
            white-space: nowrap;
            &:first-child {
              text-align: left;
            }

            // &:nth-child(2){
            //   width: 10%;
            // }
            // &:nth-child(3){
            //   width: 10%;
            // }
            // &:nth-child(4){
            //   width: 10%;
            // }
            // &:nth-child(5){
            //   width: 60px;
            //   text-align: center;
            // }
            &:nth-child(6) {
              width: 80px;
              text-align: right;
              padding-right: 18px;

              b {
                text-align: center;
                display: inline-block;
                width: 30px;
                height: 30px;
                background-color: $secondary_color;
                line-height: 30px;
                border-bottom: 3px solid darken($secondary_color, 12);
              }
            }
          }
        }
      }

      .right-item{
        .top-layer{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          .input-field{
            width: calc(100%  - 170px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            .label{
              font-size: 1.5rem;
              margin: 0;
            }
            input{
              width: 200px;
              margin-left: 20px;
            }
          }
          button{
            width: 120px;
          }
        }

        .main-content-box{
          margin-top: 10px;
          border-bottom: $modal_border;
          .title{
            background-color: $secondary_color;
            text-align: left;
            padding: 10px;
            font-size: 1.3rem;
            margin: 0 auto;
            width: 95%;
          }
          .table{
            width: 100%;
            header{
              display: flex;
              width: 100%;
              justify-content: space-between;
              border-bottom: $modal_border;
              p{
                margin: 0;
                padding: 10px;
                flex: 15%;
                &:first-child{
                  flex-basis: 50%;
                }
              }
            }
            .body{
              max-height: 210px;
              overflow: auto;
              .row{
                display: flex;
                width: 100%;
                justify-content: space-between;
                border-bottom: $modal_border;
                p{
                  margin: 0;
                  padding: 10px;
                  flex: 15%;
                  &.name{
                    span{
                      font-size: 13px;
                      display: block;
                      &:first-child{
                        font-size: 16px;
                      }
                    }
                  }
                  &:first-child{
                    flex-basis: 50%;
                  }
                }
              }
            }
            .footer{
              list-style-type: none;
              margin: 0;
              padding: 0;
              li{
                padding: 10px;
                font-size: 16px;
                &:nth-child(1),&:nth-child(2){
                  border-bottom: $modal_border;
                }
              }
            }
          }
        }
        .footer-btn{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
          gap: 10px;
          padding: 15px 30px 10px 30px;
        }
      }



      .left-item,
      .right-item {
        border: $modal_border;
      }
    }
  }
}